## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

import time
from datetime import datetime

##  import our api keys
from config import weather_api_key  

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [22]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

city_data_df = pd.read_csv(os.path.join("..", "Weather_Database", "WeatherPy_Database.csv"))
city_data_df = pd.DataFrame(city_data_df)
                          
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Oistins,13.0667,-59.5333,77.09,73,40,20.71,BB,scattered clouds,2022-03-15 07:23:26
1,1,Laguna,38.4210,-121.4238,61.09,64,40,8.05,US,scattered clouds,2022-03-15 07:18:34
2,2,Ginir,7.1333,40.7000,72.03,34,0,8.46,ET,clear sky,2022-03-15 07:23:27
3,3,Jumla,29.2747,82.1838,71.02,23,0,6.73,NP,clear sky,2022-03-15 07:23:27
4,4,Sept-Iles,50.2001,-66.3821,10.92,92,20,6.91,CA,few clouds,2022-03-15 07:21:56
5,5,Hobart,-42.8794,147.3294,67.86,87,75,11.50,AU,broken clouds,2022-03-15 07:23:28
6,6,Bakaly,55.1789,53.8028,13.89,88,82,7.76,RU,broken clouds,2022-03-15 07:23:28
7,7,Thaba-Tseka,-29.5220,28.6084,54.30,74,42,3.15,LS,scattered clouds,2022-03-15 07:20:21
8,8,Barrow,71.2906,-156.7887,-0.38,71,100,10.36,US,overcast clouds,2022-03-15 07:23:29
9,9,Leningradskiy,69.3833,178.4167,-17.09,97,35,3.22,RU,scattered clouds,2022-03-15 07:23:29

In [23]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
"""

min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?6
What is the maximum temperature you would like for your trip?40

In [24]:
#Filter the city_data_df usign loc method
cities_preferred_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_preferred_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
4,4,Sept-Iles,50.2001,-66.3821,10.92,92,20,6.91,CA,few clouds,2022-03-15 07:21:56
6,6,Bakaly,55.1789,53.8028,13.89,88,82,7.76,RU,broken clouds,2022-03-15 07:23:28
13,13,Kosa,59.9445,54.9977,17.40,81,16,4.47,RU,few clouds,2022-03-15 07:23:31
22,22,Ushuaia,-54.8000,-68.3000,38.86,93,100,5.75,AR,moderate rain,2022-03-15 07:23:04
25,25,Dikson,73.5069,80.5464,6.53,94,100,13.80,RU,overcast clouds,2022-03-15 07:23:35

In [26]:
# Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = cities_preferred_df.dropna(axis="index", how="any")
clean_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
4,4,Sept-Iles,50.2001,-66.3821,10.92,92,20,6.91,CA,few clouds,2022-03-15 07:21:56
6,6,Bakaly,55.1789,53.8028,13.89,88,82,7.76,RU,broken clouds,2022-03-15 07:23:28
13,13,Kosa,59.9445,54.9977,17.40,81,16,4.47,RU,few clouds,2022-03-15 07:23:31
22,22,Ushuaia,-54.8000,-68.3000,38.86,93,100,5.75,AR,moderate rain,2022-03-15 07:23:04
25,25,Dikson,73.5069,80.5464,6.53,94,100,13.80,RU,overcast clouds,2022-03-15 07:23:35

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

#Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Sept-Iles,CA,10.92,few clouds,50.2001,-66.3821,
6,Bakaly,RU,13.89,broken clouds,55.1789,53.8028,
13,Kosa,RU,17.40,few clouds,59.9445,54.9977,
22,Ushuaia,AR,38.86,moderate rain,-54.8000,-68.3000,
25,Dikson,RU,6.53,overcast clouds,73.5069,80.5464,
27,Zemen,BG,36.18,overcast clouds,42.4789,22.7492,
39,Ushtobe,KZ,37.26,moderate rain,45.2514,77.9838,
42,Nikolskoye,RU,34.79,scattered clouds,59.7035,30.7861,
55,Bonavista,CA,25.57,overcast clouds,48.6499,-53.1147,
60,Paamiut,GL,7.14,light snow,61.9940,-49.6678,

In [29]:
#Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [30]:
#  Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Sept-Iles,CA,10.92,few clouds,50.2001,-66.3821,Comfort Inn
6,Bakaly,RU,13.89,broken clouds,55.1789,53.8028,Darina
13,Kosa,RU,17.40,few clouds,59.9445,54.9977,Gostinitsa V Kose
22,Ushuaia,AR,38.86,moderate rain,-54.8000,-68.3000,Albatross Hotel
27,Zemen,BG,36.18,overcast clouds,42.4789,22.7492,Комплекс АЕЛЕА
39,Ushtobe,KZ,37.26,moderate rain,45.2514,77.9838,Filipin Squad
42,Nikolskoye,RU,34.79,scattered clouds,59.7035,30.7861,Tourist House - Sablino
55,Bonavista,CA,25.57,overcast clouds,48.6499,-53.1147,Sweet Sharons bnb
60,Paamiut,GL,7.14,light snow,61.9940,-49.6678,Pistut
78,Astana,KZ,15.75,overcast clouds,51.1801,71.4460,King Hotel Astana

In [32]:
#Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
 # Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

#  Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))